/*
Copyright 2023 Victor Ma

This file is part of Musician's Remote.

Musician's Remote is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

Musician's Remote is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License along
with Musician's Remote. If not, see <https://www.gnu.org/licenses/>.
*/

@use "./breakpoints.scss";

.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr repeat(3, auto) 1fr;
  grid-template-areas:
    ".            "
    "URLBar       "
    "YouTubePlayer"
    "Controls     "
    ".            ";
}

@mixin set-app-margins($breakpoint, $gap) {
  @media (min-width: $breakpoint) {
    .App {
      margin-left: $gap;
      margin-right: $gap;
    }
  }
}

@include set-app-margins(breakpoints.$xs-breakpoint, breakpoints.$xs-gap);
@include set-app-margins(breakpoints.$sm-breakpoint, breakpoints.$sm-gap);
@include set-app-margins(breakpoints.$md-breakpoint, breakpoints.$md-gap);
@include set-app-margins(breakpoints.$lg-breakpoint, breakpoints.$lg-gap);
@include set-app-margins(breakpoints.$xl-breakpoint, breakpoints.$xl-gap);

@media (orientation: landscape) {
  .App {
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". .              ."
      ". URLBar         ."
      ". YouTubePlayer  ."
      ". Controls       ."
      ". .              .";
  }
}

.URLBar {
  grid-area: URLBar;
}
.YouTubePlayer {
  grid-area: YouTubePlayer;
}
.Controls {
  grid-area: Controls;
}
