/*
Copyright 2023 Victor Ma

This file is part of Musician's Remote.

Musician's Remote is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

Musician's Remote is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License along
with Musician's Remote. If not, see <https://www.gnu.org/licenses/>.
*/

@use "Breakpoints.scss";

.Controls {
  position: relative;
  padding-top: 100%;
}

@mixin set-controls-grid($gap) {
  .controls-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "LoopControls PlayButton   PlayButton   SpeedControls"
      "LoopControls PlayButton   PlayButton   SpeedControls"
      "LoopControls PlayButton   PlayButton   SpeedControls"
      "LoopControls PlayButton   PlayButton   SpeedControls"
      "JumpControls JumpControls JumpControls JumpControls ";
  }
}

@media (min-width: Breakpoints.$xs-breakpoint) {
  @include set-controls-grid(Breakpoints.$xs-gap);
}

@media (min-width: Breakpoints.$sm-breakpoint) {
  @include set-controls-grid(Breakpoints.$sm-gap);
}

@media (min-width: Breakpoints.$md-breakpoint) {
  @include set-controls-grid(Breakpoints.$md-gap);
}

.LoopControls {
  grid-area: LoopControls;
}

.PlayButton {
  grid-area: PlayButton;
}

.SpeedControls {
  grid-area: SpeedControls;
}

.JumpControls {
  grid-area: JumpControls;
}
