/*
Copyright 2023 Victor Ma

This file is part of Musician's Remote.

Musician's Remote is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

Musician's Remote is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License along
with Musician's Remote. If not, see <https://www.gnu.org/licenses/>.
*/

@use "../breakpoints.scss";

.SettingsAppBar {
  position: relative !important;
}

.SettingsToolbarTitle {
  flex-grow: 1;
}

@mixin set-breakpoint-gap($breakpoint, $gap) {
  @media (min-width: $breakpoint) {
    .settings-toolbar {
      gap: $gap;
    }
  }
}

@include set-breakpoint-gap(breakpoints.$xs-breakpoint, breakpoints.$xs-gap);
@include set-breakpoint-gap(breakpoints.$sm-breakpoint, breakpoints.$sm-gap);
@include set-breakpoint-gap(breakpoints.$md-breakpoint, breakpoints.$md-gap);
@include set-breakpoint-gap(breakpoints.$lg-breakpoint, breakpoints.$lg-gap);
@include set-breakpoint-gap(breakpoints.$xl-breakpoint, breakpoints.$xl-gap);
